extends layout

block content
    .success
        h2 USER INFORMATION
        p ID: #{ID}
        p Name: #{NAME}
        p Group: #{GROUP}
        p Variant: #{VARIANT}
        p Tel: #{TEL}
        p Email: #{EMAIL}
        p Pass: #{PASSWORD}
        p Status: #{STATUS}
